export CONSUMER_KEY="xxxxxxxxxxxxxxxxxxxxxx"
export CONSUMER_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export ACCESS_TOKEN="1111111111-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export ACCESS_TOKEN_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"